@media only screen and (max-width: 1000px) {
  .heading-text {
    width: 70%;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 1.6rem;
  }

  .hero-heading {
    font-size: 4.2rem;
  }

  .hero-paragraph {
    font-size: 1.8rem;
  }

  .hero-btn:link,
  .hero-btn:visited {
    font-size: 1.6rem;
    padding: 1.2rem 2.4rem;
  }

  .testimonials-carousel {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 58%;
  }

  .demo-img {
    width: 60rem;
  }

  .iframe iframe {
    width: 90%;
    height: 70%;
  }
}

@media only screen and (max-width: 800px) {
  .nav-logo {
    height: 4rem;
  }

  .hero {
    display: block;
  }

  .hero-text-box {
    margin-top: 3.2rem;
    margin-bottom: 4.8rem;
  }

  .hero-img {
    width: 80%;
  }

  .heading-text {
    width: 90%;
  }

  .testimonials-img {
    height: 24rem;
  }

  .testimonials-text {
    font-size: 1.6rem;
  }

  .testimonials-author {
    margin-bottom: 0.4rem;
  }

  .testimonials-author,
  .testimonials-job {
    font-size: 1.2rem;
  }

  .info-paragraph {
    max-width: 100%;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 700px) {
  .nav {
    display: block;
  }

  .nav-menu {
    display: block;
  }

  .nav-list {
    display: block;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }

  .nav-list li:not(:last-child) {
    margin-bottom: 1rem;
  }

  .btn {
    padding: 0.8rem 1.6rem;
    font-size: 1.6rem;
  }

  .demo-img {
    width: 100%;
  }

  .testimonials-carousel {
    height: 38rem;
  }

  .testimonials-slide {
    display: block;
  }

  .testimonials-img {
    height: 14rem;
    margin-bottom: 2rem;
  }

  .testimonials-dots {
    transform: translate(-50%, 36rem);
  }

  #map {
    width: 80vw;
    height: 60vh;
    margin: 0 auto;
    border-radius: 1.2rem;
  }
}

@media only screen and (min-width: 701px) {
  .links-container {
    height: auto !important;
  }
}

@media only screen and (max-width: 570px) {
  .heading-secondary {
    font-size: 3rem;
  }

  .testimonials-carousel {
    height: 42rem;
  }

  .testimonials-dots {
    transform: translate(-50%, 40rem);
  }
}

@media only screen and (max-width: 480px) {
  .hero-btn:link,
  .hero-btn:visited {
    font-size: 1.6rem;
  }

  .testimonials-carousel {
    height: 44rem;
  }

  .testimonials-text {
    margin-bottom: 1.8rem;
  }

  .testimonials-dots {
    transform: translate(-50%, 42rem);
  }
}

@media only screen and (max-width: 480px) {
  .testimonials-carousel {
    height: 48rem;
  }

  .testimonials-dots {
    transform: translate(-50%, 46rem);
  }
}
