/******************/
/* HERO SECTION */
/******************/
.header-hero {
  background-color: #1864ab;
  color: #fff;
  padding-bottom: 9rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  /* position: relative; */
}

.nav-menu {
  font-size: 2.2rem;
  cursor: pointer;
  position: absolute;
  top: 5rem;
  right: 2rem;
  display: none;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.nav-item:hover .nav-link {
  color: #d0ebff;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.hero-heading {
  font-size: 5.2rem;
  font-weight: 700;
  margin-bottom: 3.8rem;
  text-transform: capitalize;
  letter-spacing: 1.1;
}

.hero-paragraph {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 6.4rem;
}

.hero-btn:link,
.hero-btn:visited {
  display: inline-block;
  font-size: 1.8rem;
  background-color: #fff;
  color: #1864ab;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.2px;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
}

.hero-btn:hover,
.hero-btn:active {
  background-color: #1864ab;
  color: #fff;
  /* border: 1px solid #fff; */
  box-shadow: 0 0 0 1px #fff;
}

.hero-btn--started {
  margin-right: 2rem;
}

.hero-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 100%;
  border-radius: 12px;
}

/******************/
/* WATCH DEMO */
/******************/
.demo {
  background-color: #f8f9fa;
}

.demo-photo {
  padding: 6rem 0;
  position: relative;
}

.demo-img {
  display: block;
  width: 80rem;
  margin: 0 auto;
  border-radius: 1.2rem;
}

.demo-watch {
  border: none;
  background-color: #1864ab;
  color: #fff;
  padding: 1.6rem 3.2rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s;
}

.iframe iframe {
  width: 70rem;
  height: 40rem;
  z-index: 19;
}

.demo-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* backdrop-filter: blur(3px); */
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.8s;
}

.demo-close {
  color: #fff;
  font-size: 3rem;
  position: fixed;
  top: 2rem;
  right: 4rem;
  z-index: 99;
  cursor: pointer;
  z-index: 20;
}

/******************/
/* PRICING */
/******************/
.pricing-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  column-gap: 8rem;
  row-gap: 10rem;
  margin-bottom: 8rem;
  margin-top: 4rem;
}

.pricing-card {
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
  text-align: center;
  border-radius: 8px;
}

.pricing-state {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #1864ab;
}

.pricing-description {
  font-size: 1.4rem;
  line-height: 1.6;
}

.pricing-price {
  font-size: 1.6rem;
}

.pricing-price strong {
  font-size: 2.8rem;
}

.btn-exclusive {
  background-color: #1864ab;
  color: #fff;
}

.btn-exclusive:hover {
  background-color: #1971c2;
  border: 2px solid #1971c2;
}

.pricing-list {
  align-self: flex-start;
  list-style: none;
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.pricing-list li {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.pricing-list li i {
  color: #1864ab;
}

/******************/
/* TESTIMONIALS */
/******************/
#testimonials {
  background-color: #f8f9fa;
  overflow: hidden;
}

.testimonials-body {
  margin-bottom: 10rem;
}

.testimonials-carousel {
  background-color: #1864ab;
  color: #fff;
  /* padding: 2rem 6rem; */
  border-radius: 1.2rem;
  width: 70vw;
  margin: 0 auto;
  position: relative;
  margin-top: 8rem;
  height: 32rem;
  overflow: hidden;
}

.testimonials-slide {
  padding: 2rem 6rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  position: absolute;
  transition: all 0.8s ease;
}

.testimonials-img {
  height: 28rem;
  border-radius: 1.2rem;
}

.testimonials-text {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  line-height: 1.6;
}

.testimonials-author {
  margin-bottom: 0.6rem;
}

.testimonials-author,
.testimonials-job {
  font-size: 1.4rem;
  color: #d0ebff;
}

.testimonials-btn {
  position: absolute;
  border: none;
  background-color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.3);
  font-size: 1.8rem;
  color: #1864ab;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 50%;
}

.btn--left {
  left: 0;
  transform: translate(0, -50%);
}

.btn--right {
  right: 0;
  transform: translate(0, -50%);
}

.testimonials-dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 30rem);
  display: flex;
  gap: 0.6rem;
}

.testimonials-dot {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}

.dot--fill {
  background-color: #1864ab;
}

/******************/
/* MAP */
/******************/
.map {
  padding: 6rem 0;
}

#map {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  border-radius: 1.2rem;
  z-index: 2;
}
